{{define "subject"}}Reset your Bible Notes password{{end}}

{{define "plainbody"}}
Hi, 

To reset your password, please click the url:
{{.passwordResetURL}}

Please note that this is a one-time use token and it will expire in 45 minutes.

Thanks,

The Bible Note Taking Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi</p>
    <p>To reset your password, please click the url</p>
    <a href= "{{.passwordResetURL}}"> Click here to reset your password</a>
    <p>Please note that this is a one-time use token and it will expire in 45 minutes.</p>
    <p>Thanks,</p>
    <p>The Bible NoteTaking Team</p>
</body>

</html>
{{end}}