{{define "subject"}}Welcome to Bible NoteTaknig!{{end}}

{{define "plainbody"}}

Hi {{.userName}}

Thansk for signing up for a Bible NoteTaknig account. We're excited to have you on board!

To confirm your account, please visit this URL:
{{.activationURL}}

Please note that this is a one-time use token and it will expire in 3 days.

Thanks, 

The Bible NoteTaknig Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content"text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi, {{.userName}}</p>
    <p>Thanks for signing up for a Bible NoteTaking account. We're excited to have you on board!</p>
    <p> To confirm your account, please visit this URL: </p>
    <a {{.activationURL}}
    <p>Please note that this is a one-time use token and it will expire in 3 days.</p>
    <p>Thanks,</p>
    <p>The Bible NoteTaking Team</p>
</body>

</html>
{{end}}